body {
  font-family: 'Inconsolata', monospace;
  background-image: url('lightpaperfibers_@2X.png');
  background-size: 500px 300px;
  /*background-image: url('wavegrid_@2X.png');
  background-size: 100px 100px;*/
  background-repeat: repeat;
  text-align: center;
  padding-bottom: 10px;
}

h4 {
  font-weight: normal;
  margin-top: 5px;
}

h1 {
  margin-bottom: 5px;
}

.image {
  margin-top: 10px;
  max-width: 90%;
}

.description {
  margin-top: 10px;
}

.pagination {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.date {
  flex-grow: 1;
}

/*.previous {
  float: left;
  margin-left: 5%;
}

.next {
  float: right;
  margin-right: 5%;
}*/

.copyright {
  font-size: 0.8em;
  font-style: italic;
}
